<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title><%= moduleName %></title>
  <link href="css/<%= _.slugify(moduleName) %>.css" rel="stylesheet">
</head>

<body ng-app="<%= moduleName %>">
  <h1><%= moduleName %> Demo</h1>
  <div class="container" ng-view=""></div>


  <script src="../build/vendor.js"></script>
  <script src="../build/<%= _.slugify(moduleName) %>.js"></script>
</body>
</html>